[Unit]
Description=SMTP portunu 10 dakikada bir kontrol et

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
AccuracySec=30s

[Install]
WantedBy=timers.target
